<div id="line-info" class="stay-hidden">
    <b>About Sections:</b>
    <ul>
	<li>Sections are reusable collections of Questions and Answers</li>
	<li>Once you create a Section, you can drag and drop into your Survey or another Section.  This will add a branch to the dragged Section and its elements</li>
	<li>If a Section is not branched to from your Survey, its contents will not appear in the Survey</li>
    </ul>
</div>

<div id="question-info" class="stay-hidden">
    <b>About Questions:</b>
    <ul>
	<li>Quesions allow you to present the user with question text followed by one or more Answers</li>
	<li>Drag and drop a Question onto your Survey or a Section to add it</li>
    </ul>
    <b>Question Types:</b>
    <ul>
	<li><b>Simple</b> - Present the user with a question that requires them to enter a single answer into a box</li>
	<li><b>Multiple Choice</b> - Present the user with a question that allows them to choose a single option from a list of Answers</li>
	<li><b>All that Apply</b> - Present the user with a question that allows them to choose zero or more options from a list of Answers</li>
    </ul>
</div>

<div id="answer-info" class="stay-hidden">
    <b>About Answers:</b>
    <ul>
	<li>Answers allow you to present the user with an option to choose for the enclosing Question</li>
	<li>Drag and drop an Answer onto an existing Question to add it</li>
            <li>You can also quick add an Answer from an existing Question by hovering your mouse over the plus sign <span class="ui-icon ui-icon-circle-plus simple-plus"></span> and selecting the Answer type you wish to add</li>
    </ul>
    <b>Answer Types:</b>
    <ul>
	<li><b>Free Text</b> - Allow the user to input their answer into a box</li>

	<li><b>Fixed Choice</b> - Shows a set option the user can choose</li>
    </ul>
</div>

<div id="logic-info" class="stay-hidden">
    <b>About Logic Components:</b>
    <ul>
		<li>Logic Components allow you to add increased control over the path a user takes through your survey</li>
		<li>Drag and drop a Logic Component onto your Survey or a Section to add it</li>
    </ul>
    <b>Logic Component Types:</b>
    <ul>
		<li><b>Conditional Branch</b> - Branch to a Section of Questions based off of an answer to a previous question</li>
    </ul>
</div>
