<div id="tabsTopperHelper"></div>
<div id="tabsTopper" class="ui-corner-top"></div>

<div id="surveyBuilderTabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#survey"><span class="ui-icon ui-icon-gear changes-made" title="content changed"></span>Survey Config</a></li>
    </ul>
    <div id="survey" class="parent ui-helper-reset ui-tabs-panel ui-widget-content ui-corner-bottom"></div>
</div>
