<%= $.View('//surveybuilder/views/buttons/show', {}) %>
<div id="survey-body">
	<%= $.View('//surveybuilder/views/components/show', {}) %>
	<div id="tabs-container">
	<%= $.View('//surveybuilder/views/tabs/show', {}) %>
	</div>
</div>
<%= $.View('//surveybuilder/views/info/show', {}) %>
<div id="placeholder-container"></div>