<div id="button-container">
	<div id="buttons">
	    <button id="saveAll" class="button first" disabled="disabled">Save</button>
	    <button id="exportSurvey" class="button">Export</button>
	    <a id="previewSurvey" href="<%= PREVIEW_PATH %>" target="_blank" class="button">Preview</a>
	    <button id="collapseAll" class="button">Collapse All</button>
	    <button id="hideHowto" class="button">Hide Quick Start</button>
	    <button id="showHowto" class="button">Show Quick Start</button>
	    <% if (!!EXIT_PATH) { %> <a id="exit" href="<%= EXIT_PATH %>" class="button"><%= EXIT_TEXT %></a><% } %>
	    <span id="ajax-loader"></span>
    </div>
</div>
