<option value=null <% if (lineitem && !lineitem.operator) { %> selected="selected" <% } %>></option>
<option value="=" <% if (lineitem && lineitem.operator && lineitem.operator === "=") { %> selected="selected" <% } %>>=</option>
<option value="&lt;" <% if (lineitem && lineitem.operator && lineitem.operator === "&lt;") { %> selected="selected" <% } %>>&lt;</option>
<option value="&lt;=" <% if (lineitem && lineitem.operator && lineitem.operator === "&lt;=") { %> selected="selected" <% } %>>&lt;=</option>
<option value="&gt;" <% if (lineitem && lineitem.operator && lineitem.operator === "&gt;") { %> selected="selected" <% } %>>&gt;</option>
<option value="&gt;=" <% if (lineitem && lineitem.operator && lineitem.operator === "&gt;=") { %> selected="selected" <% } %>>&gt;=</option>
