<% for(var line in lines) { %>
		<% if (lines[line].id != parentLineId) { %>
			<option value="<%= lines[line].id %>" <% if (lineitem && lineitem.branchTarget && lineitem.branchTarget === lines[line].id) { %> selected="selected" <% } %>><%= lines[line].title %></option>
		<% } %>
<% } %>
