<%for(var i = 0; i < lines.length; i++){%>
	<% if (currentLine && currentLine.id !== lines[i].id) { %>
    	<a href="#" class="btn" data-line="<%= lines[i].id %>"><%= lines[i].internalName %></a>
    <% } %>
<%}%>