<%for(var i = 0; i < lines.length; i++){%>
	<% if (currentLine && currentLine.id !== lines[i].id) { %>
    	<span class="button" data-line="<%= lines[i].id %>"><%= lines[i].internalName %></span>
    <% } %>
<%}%>