<div id="components">
	<div class="component-list">
	    <h3 id="line-list-header" class="component-header toggle">
	    	<span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>
	    	<span>My Sections:</span>
	    	<span class="ui-icon ui-icon-help info-icon clickable" data-infoId="#line-info"></span>
	    </h3>
	    <div id="line-list" class="ui-helper-reset ui-corner-all hideable"></div>
	    <div id="add-line-div" class="hideable"><span id="add-line" class="ui-icon ui-icon-circle-plus"></span><span id="add-line-description">create a section</span></div>
	</div>
	
	<div class="component-list">
	    <h3 id="question-list-header" class="component-header toggle">
	    	<span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>
	    	<span>Question Types:</span>
	    	<span class="ui-icon ui-icon-help info-icon" data-infoId="#question-info"></span>
	    </h3>
	    <div id="question-list" class="ui-helper-reset ui-corner-all hideable"></div>
	</div>

	<div class="component-list">
	    <h3 id="answer-list-header" class="component-header toggle">
	    	<span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>
	    	<span>Answer Types:</span>
	    	<span class="ui-icon ui-icon-help info-icon" data-infoId="#answer-info"></span>
	    </h3>
	    <div id="answer-list" class="ui-helper-reset ui-corner-all hideable"></div>
    </div>
    
    <div class="component-list">
	    <h3 id="logic-list-header" class="component-header toggle">
	    	<span class="ui-icon ui-icon-triangle-1-s toggle-indicator show-in-tabs"></span>
	    	<span>Logic Components:</span>
	    	<span class="ui-icon ui-icon-help info-icon" data-infoId="#logic-info"></span>
	    </h3>
	    <div id="logic-list" class="ui-helper-reset ui-corner-all hideable"></div>
    </div>
    
</div>
