<div id="components">
    <h3 id="line-list-header" class="component-header">My Sections:</h3><span class="ui-icon ui-icon-help info-icon clickable" data-infoId="#line-info"></span>
    <div id="line-list" class="ui-helper-reset ui-corner-all"></div>
    <div id="add-line-div"><span id="add-line" class="ui-icon ui-icon-circle-plus"></span><span id="add-line-description">create a section</span></div>

    <h3 id="question-list-header" class="component-header">Question Types:</h3><span class="ui-icon ui-icon-help info-icon" data-infoId="#question-info"></span>
    <div id="question-list" class="ui-helper-reset ui-corner-all"></div>

    <h3 id="answer-list-header" class="component-header">Answer Types:</h3><span class="ui-icon ui-icon-help info-icon" data-infoId="#answer-info"></span>
    <div id="answer-list" class="ui-helper-reset ui-corner-all"></div>
    
    <h3 id="logic-list-header" class="component-header">Logic Components:</h3><span class="ui-icon ui-icon-help info-icon" data-infoId="#logic-info"></span>
    <div id="logic-list" class="ui-helper-reset ui-corner-all"></div>
</div>
