body {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 12px; 
	margin:0;
}

.cb {clear:both;}

table {width: 100%;}
tr {display:block; margin-bottom: 5px;}
td.td-label {min-width: 150px;}
td.td-input {width: 100%;}

ul {
	margin: 10px;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

.quick-start-header {font-weight: bold;}

.lineitem {border: 1px solid #919191;}
.lineitem {margin: 5px 10px 8px 20px; position: relative}
.ui-icon {cursor:pointer; } 
.config {margin-left: 1em; position: relative;}
.config .ui-icon { left:-1em; }
.config-header {display:inline-block; font-weight: bold;}
.line-title{margin: 2px 0 2px 2.5em;}
input[type="text"], textarea {border:1px solid #919191; padding-left:5px; width:95%;}
form textarea {line-height:1em; resize:none; vertical-align:middle;}
#components .component-header {margin-bottom: 5px; margin-left:5px;}
#components .component-header span {display: inline-block;}
form{padding-left:1.5em;}
.add-question{float:right; margin-top:0; position:static}
.ui-icon-trash, .ui-icon-extlink, .ui-icon-copy {float:right; margin-top:0; position:static}
.ui-draggable .handle, .ui-icon-grip-dotted-vertical{cursor:move; left:0px;}
.content-label {display: inline-block; font-weight: bold; margin-left:1em; margin-top:1em; }
.header{margin-left:2em; font-weight:bold; overflow:hidden;}


.placeholder, .placeholder-drag {border: 1px solid #CC0000; margin: 5px 10px 5px 20px; position: static; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.placeholder-drag {height:1.5em;}
.tab-hover {background: #E3A1A1; }
.ui-draggable-dragging {height: 2em !important; overflow:hidden !important; z-index:9000 !important;}

#surveyBuilderTabs .ui-tabs-nav {
	left: 208px;
    min-width: 490px;
    position: fixed;
    right: 2em;
    top: 41px;
    z-index: 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: none;
}

#surveyBuilderTabs .ui-tabs-selected .close-icon {display:block;}

#tabs-container .close-icon, #tabs-container .changes-made {display:none; float: left;}
.content-group { margin-bottom:1em; margin-left:1em; position:relative;}
.content-group .collapse { left:0; }
.content { margin:0 0.5em 1em; min-height:3em; }
.changes-made {cursor: default;}
.move {display: inline-block; position:relative; float:right;}
.move-header {padding-left:5px; white-space: nowrap;}
.quick-add {display: inline-block;}
#tabs-container .quick-add-subquestion, #tabs-container .quick-add-gridanswer {display:inline-block; margin-top:0; position:static}
.empty-message {bottom:-1.4em; font-style:italic; height:1em; margin-left:1em; margin-right:1em; position:relative; }
.howto {font-style:italic; margin: 0.5em; margin-left:1em;}
.stay-hidden {display:none !important;}

#buttons {
	background-color:#3b3b3b; 
	width:100%; 
	z-index:1;
}

#buttons .first {
	position: relative;
	margin-left: 5px;
}

#buttons .button {
	font-size: 13px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

#static-message {
	background-color: white;
	font-size: 16px;
    font-weight: bold;
	left: 553px;
	padding: 2px 10px;
    position: absolute;
    top: 0;
}

#survey {position:relative;}

#tabs-container {
	bottom: 1em;
	left: 210px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 1.1em;
	top: 85px;
}
#surveyBuilderTabs {min-width:500px;}

#components {background-color: #FFFFFF; bottom:1em; overflow-x:hidden; overflow-y:auto; position:absolute; width:200px; margin-left:5px; min-height:100px; top:40px; z-index:1;}
#components .lineitem, #components .answerType, #components .questionType, #components .logicComponentType  {border: none; margin: 0px 0px 3px 20px; white-space: nowrap;}
#components .handle {max-width:188px;}
#components .ui-button-icon-only, #tabs-container .ui-button-icon-only {width: 16px;}

.drop-down-list {
	border: 1px solid #CCCCCC;
	display: none;
	position: absolute;
	z-index: 10;
}

.move .drop-down-list {
	right: 0;
	top: 16px;
}

.drop-down-list .button {
	border: none !important;
	text-align: left !important;
	width: 100%;
	-moz-border-radius: 0 !important; 
	-webkit-border-radius: 0 !important; 
	border-radius: 0 !important; 
}

#components .show-in-tabs {display: none;}
#line-list, #question-list, #answer-list, #logic-list {width: 185px}

#placeholder-container .show-in-tabs {display: none;}
#placeholder-container .ui-button-icon-only {display: none;}
#placeholder-container .lineitem {border: none;}

#showHowto, #hideHowto {display:none;}

#add-line-div {margin-top:5px; margin-left: 20px;}
#add-line {display: inline-block !important}
#add-line-description {display: inline-block;}

#surveyBuilderTabs  button {margin: 1em 1em;}
#surveyBuilderTabs  .hide-in-tabs {display: none;}

#export {padding:0;}
#export textarea {border:none; height:480px; margin:2px; padding:0; width:99%;}


.ui-icon-triangle-1-s {float: left;}
.ui-icon-triangle-1-e {float: left;}
.ui-icon-grip-dotted-vertical {float: left;}

.ui-sortable-helper {background-color:#FFFFFF;}
.ui-sortable-helper.ui-draggable-dragging {background-color:transparent;}
.content {border:1px dotted #000000;}
.content.hideBorder {border:1px solid #FFFFFF;}
.content.highlighted {border:2px dotted #CC0000 !important;}

.simple-plus {cursor:default; display:inline-block; position:static;}
.marker {vertical-align:super; cursor:default;}

.sub-questions .content-group {display:none !important;}
.sub-questions .empty-message {display:none !important;}
.sub-questions .answers {display:none !important;}
.sub-questions .displayType {display:none !important;}

.grid-answers .predicate {display:none !important;}

.conditionalBranch .content-group {	margin-left: 0;}
#tabs-container select { width: 95% }

.condition-row {margin-left: 25px;}
.condition .td-label {min-width: 175px;}
.condition input {margin:0; width:90%;}
.condition button {margin:0 !important; width:25px;}
.condition button .ui-button-text {display:inline;}
#ajax-loader {
	background-image: url('../ajax-loader-3B3B3B.gif');
	display: none;
    height: 16px;
    position: relative;
    top: 5px;
    width: 16px;
}

/* button overrides from jQueryUI theme */
#survey-body .ui-button-text-only .ui-button-text {padding: 0.1em 0.5em; white-space: nowrap;}
#survey-body .ui-button-text-icon-primary .ui-button-text, #survey-body .ui-button-text-icons .ui-button-text {padding: 0.1em 0.5em;}
#placeholder-container .ui-button-text-only .ui-button-text {padding: 0.1em 0.5em; white-space: nowrap;}
#placeholder-container .ui-button-text-icon-primary .ui-button-text, #placeholder-container .ui-button-text-icons .ui-button-text {padding: 0.1em 0.5em;}


/* validation errors */
input.error {
	border: 1px solid red !important;
}

/* fancy effects */
.lineitem {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

#components .lineitem, #placeholder-container .lineitem {-moz-box-shadow: none; -webkit-box-shadow: none;}
