body {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 12px; 
	margin:0;
}

.cb {clear:both;}

input, textarea {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
}

#survey {
	max-width: 800px;
}

#tabs-container .lineitem {border: 1px solid #e6e6e6; margin: 5px 10px 8px 20px; padding: 4px; position: relative}
.ui-icon {cursor:pointer; } 

#components .component-header {margin-bottom: 5px; white-space: nowrap;}
#components .component-header span {display: inline-block;}
form {
	padding-left: 1em;
	padding-right: 1em;
}
.add-question{float:right; margin-top:0; position:static}
.ui-icon-trash, .ui-icon-extlink, .ui-icon-copy {float:right; margin-top:0; position:static}
.ui-draggable .handle, .ui-icon-grip-dotted-vertical{cursor:move; left:0px;}
.content-label {display: inline-block; font-weight: bold; margin-left:1em; margin-top:1em; white-space: nowrap;}


.placeholder, .placeholder-drag {border: 1px solid #CC0000; margin: 5px 10px 5px 20px; max-width: 800px; position: static; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.placeholder-drag {height:1.5em;}
.tab-hover {background: #E3A1A1; }
.ui-draggable-dragging {min-height: 2em !important; overflow:hidden !important; z-index:9000 !important;}

#surveyBuilderTabs .ui-tabs-nav {
	left: 208px;
    min-width: 490px;
    position: fixed;
    right: 2em;
    top: 51px;
    z-index: 1;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: none;
}

#surveyBuilderTabs .ui-tabs-selected .close-icon {display:block;}

#tabs-container .close-icon, #tabs-container .changes-made {display:none; float: left;}
.content-group { margin-left:1em; }
/*.content-group .collapse { left:0; }*/
.content { margin:0 1em 1em; min-height:3em; }
.changes-made {cursor: default;}
.move {display: inline-block; position:relative; float:right;}
.move .move-header {
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
	white-space: nowrap;
}
.quick-add {display: inline-block;}
#tabs-container .quick-add-subquestion, #tabs-container .quick-add-gridanswer, #tabs-container .quick-add-condition  {display:inline-block; margin-top:0; position:static}
.empty-message {bottom:-1.4em; font-style:italic; height:1em; margin-left:1em; margin-right:1em; position:relative; }
.stay-hidden {display:none !important;}

#buttons {
	width:100%; 
}

#buttons .topbar-title {
	margin-left: 2px;
	margin-right: 30px;
}


#static-message {
	background-color: white;
	font-size: 16px;
    font-weight: bold;
    left: 50%;
	padding: 2px 10px;
    position: absolute;
    top: 0;
}

#survey {position:relative;}

#tabs-container {
	bottom: 1em;
	left: 210px;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 1.1em;
	top: 85px;
}
#surveyBuilderTabs {min-width:500px;}

#components {bottom:1em; overflow-x:hidden; overflow-y:auto; position:absolute; width:200px; min-height:100px; top:50px; z-index:1;}
#components .lineitem, #components .answerType, #components .questionType, #components .logicComponentType  {border: none; margin: 0px 0px 3px 20px; white-space: nowrap;}
#components .handle {max-width:188px;}
#components .ui-button-icon-only, #tabs-container .ui-button-icon-only {width: 16px;}
#components form {margin-bottom: 0;}

.drop-down.ui-icon {
	display: inline-block;
	vertical-align: bottom;
}

.drop-down-list {
	display: none;
	position: absolute;
	z-index: 10;
}

.drop-down-list .btn {
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius:0;
}

.drop-down-list a:first-child {
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px 4px;
	-webkit-border-top-left-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
}

.drop-down-list a:nth-last-child(1) {
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-right-radius: 4px 4px;
	-webkit-border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
}

#line-items .drop-down-list {
	left: 0;
}

.move .drop-down-list {
	right: 0;
	top: 16px;
}

.drop-down-list .btn {
	display: block;
	white-space: nowrap;
}

#components .show-in-tabs {display: none;}
.component-list {
	margin-bottom: 10px;
}

#placeholder-container .show-in-tabs {display: none;}
#placeholder-container .ui-button-icon-only {display: none;}
#placeholder-container .lineitem {border: none;}

#showHowto, #hideHowto {display:none;}

#add-line-div {margin-top:5px; margin-left: 20px;}
#add-line {display: inline-block !important}
#add-line-description {display: inline-block;}

#surveyBuilderTabs  .hide-in-tabs {display: none;}

#export {padding:0;}
#export textarea {border:none; height:480px; margin:2px; padding:0; width:99%;}

#tabs-container .lineitem {
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#ffffff));
	background-image: -webkit-linear-gradient(#f1f1f1, #ffffff);
	background-image: -moz-linear-gradient(#f1f1f1, #ffffff);
	background-image: -ms-linear-gradient(#f1f1f1, #ffffff);
	background-image: -o-linear-gradient(#f1f1f1, #ffffff);
	background-image: linear-gradient(#f1f1f1, #ffffff);
	max-width: 800px;
}

#tabs-container .content-group .lineitem {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f1f1f1));
	background-image: -webkit-linear-gradient(#ffffff, #f1f1f1);
	background-image: -moz-linear-gradient(#ffffff, #f1f1f1);
	background-image: -ms-linear-gradient(#ffffff, #f1f1f1);
	background-image: -o-linear-gradient(#ffffff, #f1f1f1);
	background-image: linear-gradient(#ffffff, #f1f1f1);
}


.ui-icon-grip-dotted-vertical {float: left;}

.input .btn {
	margin: 0;
}

.ui-sortable-helper {background-color:#FFFFFF;}
.ui-sortable-helper.ui-draggable-dragging {background-color:transparent;}
.content {border:1px dotted #000000;}
.content.hideBorder {border:1px solid transparent;}
.content.highlighted {border:2px dotted #CC0000 !important;}

.simple-plus {cursor:default; display:inline-block; position:static;}
.marker {vertical-align:super; cursor:default;}

.sub-questions .content-group {display:none !important;}
.sub-questions .empty-message {display:none !important;}
.sub-questions .answers {display:none !important;}
.sub-questions .displayType {display:none !important;}

.grid-answers .predicate {display:none !important;}

.conditionalBranch .content-group {	margin-left: 0;}
.branchOperation {width:inherit;}

.condition-row {margin-left: 25px;}
.condition .td-label {min-width: 175px;}
.condition button {margin:0 !important; width:25px;}
.condition button .ui-button-text {display:inline;}
.condition .logical-operator {
	position: absolute;
	top: 40%;
	left: 20px;
}

.ConditionalBranch .content .lineitem:first-child .logical-operator {
	display: none;
}

.input-append button {
	height: 21px !important;
}
#ajax-loader {
	background-image: url('../ajax-loader-transparent.gif');
	display: none;
    height: 16px;
    position: relative;
    top: 10px;
    width: 16px;
}

.toggle {
	cursor: pointer;
	display: inline-block;
}

.toggle-indicator { 
	display: inline-block !important; 
}

/* button overrides from jQueryUI theme */
#survey-body .ui-button-text-only .ui-button-text {padding: 0.1em 0.5em; white-space: nowrap;}
#survey-body .ui-button-text-icon-primary .ui-button-text, #survey-body .ui-button-text-icons .ui-button-text {padding: 0.1em 0.5em;}
#placeholder-container .ui-button-text-only .ui-button-text {padding: 0.1em 0.5em; white-space: nowrap;}
#placeholder-container .ui-button-text-icon-primary .ui-button-text, #placeholder-container .ui-button-text-icons .ui-button-text {padding: 0.1em 0.5em;}


/* twitter bootstrap overrides */
form {
	margin-bottom: 0;
}

form .clearfix {
	margin-bottom: 5px;
}

form fieldset {
	margin-bottom: 10px;
	padding-top: 10px;
}

label select {
	width: inherit;
}

form input[type="text"], form input[type="password"], form textarea, form select, form .uneditable-input {
	padding: 2px;	
}

.btn.small {
	padding: 4px 9px;
}

.btn.drop-down-btn {
	padding-left: 0;	
}

form label div.input {
	margin-left: 0;
}

.howto ul {
	list-style-position: inside;
}

.inline-inputs select, .inline-inputs .input-append {
	display:inline-block;
}

.inline-inputs .input-append {
	vertical-align: top;
}

.topbar ul li {
	font-size: 15px;
}

.help-inline {
	display: block;
}

.topbar a.topbar-title:hover {
	background-color: inherit;
	cursor: default;
	color: white;
	text-decoration: none;
}

.topbar .disabled {
	color: #595959;
}

.topbar .disabled:hover {
	background-color: inherit;
	cursor: default;
	color: #595959;
	text-decoration: none;
}

/* fancy effects */
.lineitem {
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

#components .lineitem, #placeholder-container .lineitem {-moz-box-shadow: none; -webkit-box-shadow: none;}
